name: Deploy to modrinth

on:
  workflow_call:
    secrets:
      modrinth-token:
        required: true
    inputs:
      commit-ref:
        type: string
        default: "main"
        required: true
      item:
        type: string
        default: "kotlin-stdlib:1.9.10"
        required: true

  workflow_dispatch:
    inputs:
      commit-ref:
        type: string
        default: "main"
        required: true
      item:
        type: string
        default: "kotlin-stdlib:1.9.10"
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      artifact_name: ${{ steps.deploy_build.outputs.artifact_name }}
      artifact_path: ${{ steps.deploy_build.outputs.artifact_path }}
      jar_name: ${{ steps.deploy_build.outputs.jar_name }}

    steps:
      - env:
          COMMIT_REF: ${{ inputs.commit-ref }}
          PROJECT_AND_VERSION: ${{ inputs.item }}
        run: echo "$COMMIT_REF ; $PROJECT_AND_VERSION"

      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit-ref }}

      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - id: ready_deploy
        name: Ready deploy
        run: "deno task ready_deploy"
        env:
          PROJECT_AND_VERSION: ${{ inputs.item }}

      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - id: deploy_build
        name: Deploy build
        run: "deno task deploy_build"
        env:
          PROJECT_AND_VERSION: ${{ inputs.item }}

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.deploy_build.outputs.artifact_name }}
          path: ${{ steps.deploy_build.outputs.artifact_path }}

  upload:
    runs-on: ubuntu-latest

    needs: [build]

    steps:
      - env:
          ARTIFACT_NAME: ${{ needs.build.outputs.artifact_name }}
          JAR_NAME: ${{ needs.build.outputs.jar_name }}
          PROJECT_AND_VERSION: ${{ inputs.item }}
        run: echo "$PROJECT_AND_VERSION ; $ARTIFACT_NAME"

      - uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.artifact_name }}
          path: ~/artifact/${{ needs.build.outputs.artifact_name }}

      - id: upload
        name: Upload to modrinth
        run: "deno task upload_to_modrinth"
        env:
          ARTIFACT_NAME: ${{ needs.build.outputs.artifact_name }}
          JAR_NAME: ${{ needs.build.outputs.jar_name }}
          PROJECT_AND_VERSION: ${{ inputs.item }}
          GITHUB_ACTION: ${{ github.action }}
          MODRINTH_TOKEN: ${{ secrets.modrinth-token || secrets.MODRINTH }}
